* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

body {
	background: url(https://source.unsplash.com/featured/?world) no-repeat;
	background-size: cover;
}

main {
	display: grid;
	grid-template-columns: 3vw 1fr 1fr 1fr 1fr 1fr 3vw;
	grid-template-rows: 8vh 1fr 1fr 1fr 1fr 4vh;
	justify-content: center:
	align-content: center;
}

form {
	font-size: 18px;
	background: white;
	padding: 20px;
	text-align: center;
	width: 350px;
	border-radius: 10px;
	grid-row: 3 / span 1;
	grid-column: 4 / span 1;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.moveSearch {
	width: 100vw;
	height: 40px;
	grid-row: 1 / span 1;
	grid-column: 1 / span 1;
	opacity: 1;
	transition: opacity 1s;
	padding: 5px;
	border-radius: 0;

}

.displayNone {
	display: none;
}

.hide {
	opacity: 0;
	transition: all 0.8s;
}

input {
	font-size: 15px;
	margin: 5px;
	width: 250px;
	padding: 5px;
}

.btn {
	padding: 5px;
	width: 71px;
	border-radius: 10px;
	font-weight: bolder;
}